.app {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    margin: 20px;
  }
  
  .box{
    width: 400px;
    background-color: black;
  }

  .errMsg {
    color: red;
    font-size: 14px;
    margin: 0px 2px 4px 4px;
  }
  
  .header {
    color:blue;
    font-size: xx-large;
    margin-top: 10%;
  }
  
  .noRecipes {
    font-size: 30px;
    text-align: center;
  }

  .ingredientBox {
    background-color: darkred;
    width: 300px;
    border: 15px solid orange;
    padding: 50px;
    margin: 20px;
  }

  .ingredientHeader {
    font-size: 45px;
    background-color: darkcyan;
    list-style-type: disc;
  }

  .ingredientItem {
    font-size: 30px;
    color: rgb(47, 225, 47);
  }
