.page {
  margin: 0 auto; 
}

.box{
    width: 400px;
    background-color: black;
  }

  .errMsg {
    color: red;
    font-size: 14px;
    margin: 0px 2px 4px 4px;
  }
  
  .header {
    color:blue;
    font-size: xx-large;
    margin-top: 10%;
  }
  
  .noRecipes {
    font-size: 30px;
    text-align: center;
  }

  .ingredientBox {
    background-color: darkred;
    width: 300px;
    border: 15px solid orange;
    padding: 50px;
    margin: 0 auto;
  }

  .ingredientHeader {
    font-size: 45px;
    background-color: darkcyan;
    list-style-type: disc;
    margin: 0 auto;
  }

  .ingredientItem {
    margin: 0 auto;
    font-size: 30px;
    color: rgb(47, 225, 47);
  }

  .stepBox {
    background-color: bisque;
    width: auto;
    border: 15px solid rgb(110, 107, 101);
    padding: 50px;
    margin: 20px;
  }

  .stepHeader {
    text-align: left;
    font-size: 45px;
    background-color: darkcyan;
    list-style-type: disc;
  }

  .step {
    text-align: left;
    font-size: 30px;
    color: rgb(42, 107, 42);
  }
