#root {
  font-family: sans-serif;
  max-width: 1280px;
  margin: 0;
  padding: 0%;
  text-align: center;
}

/* .card {
  background-color: rgb(137, 137, 237);
  background-clip: content-box;
  flex-shrink: 2;
  padding: 2em;
  text-align: center;
  max-width: 50%;
} */