.app {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    grid-gap: 15px;
  }
  
  .cardGrid {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    top: 10%;
  }

  .errMsg {
    color: red;
    font-size: 14px;
    margin: 0px 2px 4px 4px;
  }
  
  .box{
    width: 400px;
    background-color: black;
  }
  
  .noRecipes {
    font-size: 30px;
    text-align: center;
  }
